<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}

        {% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    {% block script %}
    {% endblock script %}
    {% block style %}
    {% endblock style %}
</head>

<!-- blue dark:#C6DCE4 blue light: #DAEAF1 -->
<!-- pink darl: F2D1D1 pink light:FFE6E6 -->
<!-- white dark: #EAE3D2 white light:F9F5EB-->
<!-- dark pink:#FAD4D4 more light pink:#FFF2F2-->

<body style="background-color:#DAEAF1;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <nav class="navbar navbar-expand-sm sticky-top" style="background-color: #C6DCE4 ;">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('index')}}"><img
                    src="{{url_for('static', filename='imgs/logo.webp')}}"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 fs-5">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('giftcard')}}">Gift Card</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Help
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">FAQs</a></li>
                            <li><a class="dropdown-item" href="{{url_for('create')}}">Upload Pics</a></li>
                            <li><a class="dropdown-item" href="#contact">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}

    {% endblock body %}
    <footer class="py-5 mt-5" style="background-color: #C6DCE4 ;">
        <div class="row mx-5">
            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div id="contact" class="col-md-5 offset-md-1 mb-3">
                <form>
                    <h5 class="fs-4 fw-semibold">Contact Us</h5>
                    <hr>
                    <p>Hey 👋🏻 If you have any questions regarding delivery times, production, shipments, creation
                        processes, or general questions about the product, you can ask us here!</p>
                    <div class="d-block w-100 gap-2">
                        <input id="contactemail" type="text" class="form-control" placeholder="Email address"><br>
                        <input id="name" type="text" class="form-control" placeholder="Name"><br>
                        <input id="orderno" type="text" class="form-control" placeholder="Order No."><br>
                        <input id="subject" type="text" class="form-control" placeholder="Subject"><br>
                        <textarea id="orderno" type="text" class="form-control" placeholder="Message"></textarea><br>
                        <button class="btn btn-dark" type="button">Submit</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex justify-content-center py-4 my-4 border-top">
            <p>© 2022 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-dark" href="#"><img class="bi" width="24" height="24"
                            src="imgs/fb.png"></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><img class="bi" width="24" height="24"
                            src="imgs/insta.jfif"></a></li>
                <li class="ms-3"><a class="link-dark" href="#"><img class="bi" width="24" height="24"
                            src="imgs/twit.png"></a></li>
            </ul>
        </div>
    </footer>
    <script>
        AOS.init();
    </script>
</body>

</html>