{% extends 'base.html' %}
{% block title %}
Create Yours Now
{% endblock title %}
{% block script %}
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" /> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  -->
<link rel="stylesheet" href="https://fengyuanchen.github.io/cropperjs/css/cropper.css" />
<script src="https://fengyuanchen.github.io/cropperjs/js/cropper.js"></script> 
<script>
$(document).ready(function(){
    var $modal = $('#modal_crop');
    var crop_image = document.getElementById('sample_image');
    var cropper;
    $('#upload_image').change(function(event){
        var files = event.target.files;
        var done = function(url){
            crop_image.src = url;
            $modal.modal('show');
        };
        if(files && files.length > 0)
        {
            reader = new FileReader();
            reader.onload = function(event)
            {
                done(reader.result);
            };
            reader.readAsDataURL(files[0]);
        }
    });
    $modal.on('shown.bs.modal', function() {
        cropper = new Cropper(crop_image, {
            aspectRatio: 16/9,
            viewMode: 3,
            preview:'.preview'
        });
    }).on('hidden.bs.modal', function(){
        cropper.destroy();
        cropper = null;
    });
    $('#crop_and_upload').click(function(){
        canvas = cropper.getCroppedCanvas({
            width:400,
            height:400
        });
        canvas.toBlob(function(blob){
            url = URL.createObjectURL(blob);
            var reader = new FileReader();
            reader.readAsDataURL(blob);
            reader.onloadend = function(){
                var base64data = reader.result; 
                $.ajax({
                    url:'crop_upload.php',
                    method:'POST',
                    data:{crop_image:base64data},
                    success:function(data)
                    {
                        $modal.modal('hide'); 
                    }
                });
            };
        });
    });
});
</script>
{% endblock script %}
{% block style %}
<style>
    img {
        display: block;
        max-width: 100%;
    }
    .preview {
        overflow: hidden;
        width: 160px; 
        height: 160px;
        margin: 10px;
        border: 1px solid red;
    }
    .modal-lg{
        max-width: 1000px !important;
    }
</style>
{% endblock style %}
{% block body %}
<div class="container-xl text-center">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xxl-8 col-lg-6 me-xxl-0 me-lg-5 d-flex justify-content-center align-items-center">
            <!-- <div class="row"><img src="imgs\create1.png"></div>
            <div class="row"><img src="imgs\create2.png"></div>
            <div class="row"><img src="imgs\create3.png"></div>
        </div>

        <div class="col-xl-6 col-lg-7 xl-pt-4 ">
            <img src="imgs\create1.png"> -->
            <img id="myImage" src="{{url_for('static', filename='imgs/create3.png')}}">
        </div>

        <div class="col-xxl-4 col-lg-5">
            <div class="bg-white rounded-3 shadow-lg p-4 m-4">
                <div class="row">
                    <h3 class="fw-bold text-center">Perspective Poster</h3>
                </div>
                <hr>
                <form action="{{url_for('create')}}" method="post" enctype=multipart/form-data>
                    <div class="row">
                        <label class="d-block text-start">Orientation</label>
                        <div class="col-12">
                            <div class="form-check form-check-inline" onclick="Orientationvert()">
                                <input class="form-check-input" type="radio" name="Orientation" value="Vertical">
                                <label class="form-check-label" for="Orientation">
                                    <img src="https://doshopify.com/product-personalizer/images/picsifiedww.myshopify.com/POSTER-VERTICAL.png?v=123"
                                        height="125em">
                                </label>
                            </div>
                            <div class="form-check form-check-inline" onclick="Orientationhoriz()">
                                <input class="form-check-input" type="radio" name="Orientation" value="Horizontal"
                                    checked>
                                <label class="form-check-label" for="Orientation">
                                    <img src="https://doshopify.com/product-personalizer/images/picsifiedww.myshopify.com/POSTER-HORIZONTAL.png?v=123"
                                        height="125em">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <br />
                        <!-- <h7>Crop image before upload and insert to database using PHP Mysqli and CropperJS</h7>
                        <br /> -->
                        <div class="row">
                            <input type="file" name="crop_image" class="crop_image" id="upload_image" />
                        <div class="modal fade" id="modal_crop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" value="Hori">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Crop Image Before Upload</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="img-container">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <img src="" id="sample_image" />
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="preview"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="crop_and_upload" data-bs-dismiss="modal" class="btn btn-primary">Crop</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>            
                    </div>
                    </div>
                    <!-- <div class="row">
                        <label class="d-block text-start">Upload Your Main Image</label>
                        <div class="col-12">
                            <div>
                                <input class="form-control form-control-lg" name="MAIN" type="file"
                                    accept="image/jpg,image/jpeg,image/JPG,image/JPEG,image/webp,image/WEBP,image/png,.HEIC,image/PNG,image/svg+xml">
                            </div>
                        </div>
                    </div><br> -->
                    <div class="row">
                        <label class="d-block text-start">Size</label>
                        <div class="col-4">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="size" value="mini">
                                <label class="form-check-label" for="mini">
                                    <img src="https://doshopify.com/product-personalizer/images/picsifiedww.myshopify.com/Poster-MINI-3D.jpg?v=123"
                                        style="height: 5em; width: 3em;" id="vert" onclick="sizeM(this)">
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-check form-check-inline" onclick="sizeC(this)">
                                <input class="form-check-input" type="radio" name="size" value="classic" checked>
                                <label class="form-check-label" for="classic">
                                    <img src="https://doshopify.com/product-personalizer/images/picsifiedww.myshopify.com/Poster-classic-3D.jpg?v=123"
                                        style="height: 5em; width: 3em;">
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-check form-check-inline" onclick="sizeL(this)">
                                <input class="form-check-input" type="radio" name="size" value="plus" checked>
                                <label class="form-check-label" for="plus">
                                    <img src="https://doshopify.com/product-personalizer/images/picsifiedww.myshopify.com/Poster-PLUS-3D.jpg?v=123"
                                        style="height: 5em; width: 3em;">
                                </label>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-dark text-center" role="alert">
                                Pics to recreate your poster are uploaded after checkout. To continue tap <strong>"Add
                                    To
                                    Cart"</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-dark btn-shadow btn-lg">Add To Cart</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function Orientationvert() {
        document.getElementById('myImage').src = "{{url_for('static', filename='imgs/POSTER-VERTICAL.png')}}";
        document.getElementById('myImage').value = "Vertical";
    }
    function Orientationhoriz() {
        document.getElementById('myImage').src = "{{url_for('static', filename='imgs/POSTER-HORIZONTAL.png')}}";
        document.getElementById('myImage').value = "Horizontal";
    }
    function sizeM() {
        img = document.getElementById('myImage');
        if (img.value == "Vertical") {
            img.style.height = "29em";
            img.style.width = "24em";
        }
        else{
            img.style.height = "25em";
            img.style.width = "32em";
        }
    }
    function sizeC() {
        img = document.getElementById('myImage');
        if (img.value == "Vertical") {
            img.style.height = "35em";
            img.style.width = "32em";
        }
        else {
            img.style.width = "40em";
            img.style.height = "33em";
        }
    }
    function sizeL() {
        img = document.getElementById('myImage');
        if (img.value == "Vertical") {
            img.style.height = "45em";
            img.style.width = "37em";
        }
        else {
            img.style.width = "54em";
            img.style.height = "37em";
        }
    }
</script>
{% endblock body %}